<div class="title">  <h1>This is the DEMO project</h1> </div>
<div class="main_container">
  <div class="row">
    <div class="column_left">
      <h2>OBJECTS DATA:</h2>
      <table>
        <tr>
          <td class="title_label">Name: </td>
          <td>{{testPerson.person.name}}</td>
        </tr>
        <tr>
          <td class="title_label">First surname: </td>
          <td>{{testPerson.person.surnames.s1}}</td>
        </tr>
        <tr>
          <td class="title_label">Second surname: </td>
          <td>{{testPerson.person.surnames.s2}}</td>
        </tr>
        <tr>
          <td class="title_label">Age: </td>
          <td>{{testPerson.age}}</td>
        </tr>
        <tr>
          <td class="title_label">Eye color: </td>
          <td>{{EyesEnum[testPerson.eyes]}}</td>
        </tr>
        <tr>
          <td class="title_label">Dominant hand: </td>
          <td>{{HandsEnum[testPerson.hands]}}</td>
        </tr>
        <tr>
          <td><label class="title_label">Select object:</label></td>
          <td><input type="radio" name="selected_object" value=1 (change)="changeForm(1)" checked/></td>
        </tr>
      </table>
      <br>
      <table>
        <tr>
          <td class="title_label">Type of house: </td>
          <td>{{testHouse.house}}</td>
        </tr>
        <tr>
          <td class="title_label">Windows: </td>
          <td>{{testHouse.windows}}</td>
        </tr>
        <tr>
          <td class="title_label">Is occupied?: </td>
          <td>{{testHouse.occupied}}</td>
        </tr>
        <tr>
          <td><label class="title_label">Select object:</label></td>
          <td><input type="radio" name="selected_object" value=2 (change)="changeForm(2)"/></td>
        </tr>
      </table>
    </div>
    <div class="column_right">
      <h2>FORM:</h2>
      <div class="demo_container">
        <div class="select_container">
          <label class="title_label">Select a theme:</label>
          <select (change)="onChange($event)">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
            <option value="muret">MuRET</option>
            <option value="custom" selected>Custom</option>
          </select>
        </div>
        <div>
          <ngx-object-properties-editor [object]="test" [labels]="labels" [selects]="enums" [hidden]="hidden" theme={{theme}} title={{title}}></ngx-object-properties-editor>
        </div>
      </div>
    </div>
  </div>
</div>
